// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.payment-ways-container {
  margin: 10px;
  padding: 30px;

  -webkit-box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px 0.5px rgba(0,0,0,0.2);

  background-color: #fff;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  img {
    padding: 20px;
  }
}