.form-container
  = simple_form_for([:gateway, @card], html: { class: 'form-horizontal '}) do |f|
    %input{:type => "hidden", name: "provider", value: @payment_provider}/
    %input#cardExpirationMonth{:type => "hidden", "data-checkout" => "cardExpirationMonth", "data-stripe"=>"exp_month"}/
    %input#cardExpirationYear{:type => "hidden", "data-checkout" => "cardExpirationYear", "data-stripe"=>"exp_year"}/
    %input#last4{name: "last4", :type => "hidden"}/
    %input#first6{name: "first6", :type => "hidden"}/
    .form-group
      %label.col-md-4{:for => "type"} Tipo de tarjeta
      .col-md-8
        %select.form-control#cardType{name: "paymentMethodId"}
          %option{:value => "visa"} Visa
          %option{:value => "amex"} American Express
          %option{:value => "mastercard"} Master Card
          %option{:value => "diners"} Diners Club
          %option{:value => "naranja"} Naranja
          %option{:value => "shopping"} Shopping
    .form-group
      %label.col-md-4 Card Number:
      .col-md-8
        %input#cardNumber.form-control{:type => "text", placeholder: '4509 9535 6623 3704',"data-checkout" => "cardNumber", "data-stripe" => "number"}/
    .form-group
      %label.col-md-4 Full Name:
      .col-md-8
        %input#cardholderName.form-control{:type => "text", placeholder: 'Bruno Diaz', "data-checkout" => "cardholderName"}/
    .form-group
      %label.col-md-4 Expiration:
      .col-md-8
        %input#expiry.form-control{:type => "text", placeholder: '12 / 2028'}/
    .form-group
      %label.col-md-4 CVV:
      .col-md-8
        %input#securityCode.form-control{:type => "text", placeholder: '1234', "data-checkout" => "securityCode", "data-stripe"=>"cvc"}/
    .form-group
      %label.col-sm-4{:for => "docType"} Document type:
      .col-sm-8
        %select.form-control#docType{"data-checkout" => "docType"}
    .form-group
      %label.col-sm-4{:for => "docNumber"} Document number:
      .col-sm-8
        %input.form-control#docNumber{"data-checkout" => "docNumber", :placeholder => "12345678", :type => "text"}/
    %hr
      %input{:type => "submit", :value => "Add", class: "btn btn-success"}

:javascript


  $("#cardNumber").keyup(function(){
    $("#last4").val($("#cardNumber").val().substr(-5).replace(/\s+/g, ''));
    $("#first6").val($("#cardNumber").val().substr(0,7).replace(/\s+/g, ''));
  });

  $("#expiry").keyup(function(){
    expireString = ($("#expiry").val()).split(" / ");
    $("#cardExpirationMonth").val(expireString[0])
    $("#cardExpirationYear").val(expireString[1])

  });


  var card = new Card({
    // a selector or DOM element for the form where users will
    // be entering their information
    form: '.simple_form', // *required*
    // a selector or DOM element for the container
    // where you want the card to appear
    container: '.card-wrapper', // *required*

    formSelectors: {
        numberInput: 'input#cardNumber', // optional — default input[name="number"]
        expiryInput: 'input#expiry', // optional — default input[name="expiry"]
        cvcInput: 'input#securityCode', // optional — default input[name="cvc"]
        nameInput: 'input#cardholderName' // optional - defaults input[name="name"]
    },

    formatting: true, // optional - default true

    // Default placeholders for rendered fields - optional
    placeholders: {
        number: '•••• •••• •••• ••••',
        name: 'Full Name',
        expiry: '••/••',
        cvc: '•••'
    }
  });
