%table.table.table-bordered
  %thead
    %th
    %th
    %th Token
    %th
  %tbody
    - @cards.each do |card|
      %tr
        %td= image_tag(card.provider_prefix, width: "50px")
        %td
        %td= card.card_token