.row
  .col-md-1
  .col-md-5
    .payment-ways-container.shadow-box
      %h4 Save new card
      %hr
      %center
        .card-wrapper
      %br
      =render partial: 'form'
  .col-md-5
    .payment-ways-container.shadow-box
      %center
        %a{href: payment_form_gateway_sales_path(payment_provider: "mango")}
          =image_tag("logo-mercadopago", width: "200px")
        %hr
      =render partial: 'table'

:javascript

  Mercadopago.getIdentificationTypes();
  $("#cardType").hide();
  var payForm = new paymentForm(".simple_form");