.row
  .col-md-1
  .col-md-5
    .payment-ways-container.shadow-box
      %h4 Save new card
      %hr
      %center
        .card-wrapper
      %br
      =render partial: 'form'
  .col-md-5
    .payment-ways-container.shadow-box
      %center
        %a{href: payment_form_gateway_sales_path(payment_provider: "mango")}
          =image_tag("stripe-logo", width: "150px")
        %hr
      =render partial: 'table'

:javascript

  $("#cardType").hide();
  var stripeForm = new stripeForm(".simple_form");