%h4 Choose your Wallet Provider
%br
%a{href: payment_form_gateway_cards_path(payment_provider: "mp")}
  =image_tag("logo-mercadopago", width: "160px")
%a{href: payment_form_gateway_cards_path(payment_provider: "mango")}
  =image_tag("mango-logo-black")
%a{href: payment_form_gateway_cards_path(payment_provider: "stripe")}
  =image_tag("stripe-logo", width: "100px")

