.container-fluid
  .row
    .col-md-12
      %h1= @item.product.name
  .row
    .col-md-6= image_tag(@item.product.picture, width: "100%")
    .col-md-1
    .col-md-5
      %p #{@item.product.description}
      .form-container
        = render partial: 'form'