%center
  %a{href: payment_form_gateway_sales_path(payment_provider: "mango")}
    =image_tag("mango-logo-black")
%hr

.alert.alert-danger

= simple_form_for([:gateway, @sale], html: { class: 'form-horizontal' }) do |f|
  %fieldset
    .form-group
      %label.col-md-4{:for => "email"} Email
      .col-md-8
        %input.form-control#email{:name => "email", :required => "", :type => "email"}/
    %input{:name => "amount", :type => "hidden"}/
    .form-group
      %label.col-md-4{:for => "holdername"} Nombre
      .col-md-8
        %input.form-control#holdername{:required => "", :type => "text"}/
    .form-group
      %label.col-md-4{:for => "type"} Tipo de tarjeta
      .col-md-8
        %select.form-control#cardType
          %option{:value => "visa"} Visa
          %option{:value => "amex"} American Express
          %option{:value => "mastercard"} Master Card
          %option{:value => "diners"} Diners Club
          %option{:value => "naranja"} Naranja
          %option{:value => "shopping"} Shopping
    .form-group
      %label.col-md-4{:for => "card"} Número de la tarjeta
      .col-md-8
        %input.form-control#cardNumber{:maxlength => "16", :required => "", :type => "number"}/

    .form-group
      %label.col-md-4{:for => "month"} Mes y Año de expiración
      .col-md-4
        %input.form-control#cardExpirationMonth{:maxlength => "2", :required => "", :type => "number"}/
      .col-md-4
        %input.form-control#cardExpirationYear{:maxlength => "4", :required => "", :type => "number"}/
    .form-group
      %label.col-md-4{:for => "ccv"} Código de seguridad
      .col-md-4
        %input.form-control#securityCode{:required => "", :type => "text"}/
    .form-group
      %label.col-md-4{:for => "type"} Cuotas
      .col-md-8
        %select.form-control#installments
  %center
    %br
    %input{:type => "submit", :value => "Pagar ahora!", class: "btn btn-success"}/


:javascript

  payForm = new mangoPaymentForm(".simple_form");
  $(".alert").hide();