%center
  .container-fluid
    .row
      .col-md-2
      .col-md-8
        .payment-ways-container.shadow-box
          %h4 Seleccione su proveedor de pagos
          %br
          %a{href: payment_form_gateway_sales_path(payment_provider: "mp")}
            =image_tag("logo-mercadopago", width: "160px")
          %a{href: payment_form_gateway_sales_path(payment_provider: "mango")}
            =image_tag("mango-logo-black")
          %a{href: payment_form_gateway_sales_path(payment_provider: "stripe")}
            =image_tag("stripe-logo", width: "100px")
        %br
        %small El proceso podria estar sujeto a las restricciones y/o comisiones de cada proveedor de pago.
      .col-md-2
