%center
  .container-fluid
    .row
      .col-md-3
      .col-md-6
        .payment-ways-container.shadow-box
          %h4 Seleccione su proveedor de pagos
          %br
          = image_tag("logo-mercadopago", width: "200px")
          = image_tag("mango-logo-black")
          = image_tag("stripe-logo", width: "120px")
        %br
        %small El proceso podria estar sujeto a las restricciones y/o comisiones de cada proveedor de pago.

      .col-md-3
